.membergroup-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6); 
  border: 1px solid red;
  height: fit-content;
}

.membergrouptable-container{
  border: 1px solid  blue;
 max-width: 1000px;
  height: 400px;
  overflow-y: auto;
  overflow-x: auto;
  font-size: larger;
}

h2 {
  color: #343a40;
  text-align: center;
  font-Size: 2rem;
  margin-top: 0%;
}
  .button-group-front{
    display: flex;
    justify-content: flex-start; 
    margin-bottom: 15px; 
  }
.new-button, .find-button {
}
  .new-button {
    background-color:#B7D2E4;
    color:black;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .find-button {
    background-color:#B7D2E4; 
    color: black;
    border: none;
    padding: 10px 15px; 
    margin-right: 10px; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
  }
  
  .memberform-container {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    height: 400px;
    overflow-y: auto;
    margin-top: 0%;
  }
  
  .form-flex {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  
  .form-section {
    margin-bottom: 10px; 
  }
  
  .MuiTextField-root {
    margin-bottom: 8px; 
  }
  .small-input {
    width: 70px; 
    font-size: 14px; 
    border-bottom: 1px solid transparent; 
  }
  
  .input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
    border-bottom: 1px solid transparent; 
    row-gap: 50px;
  }
  
  .input-group label {
    margin-right:3px; 
    width: 150px; 
    font-weight: bold;
    border-bottom: 1px solid transparent; 
  }
  
  .button-group {
    display: flex;
    justify-content: center;
    margin-top: 15px; 
  }
  
  .submit {
    color: white;
    border: none;
    padding: 8px 15px; 
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    background-color:#007bff;
    width:100px;
  }
  .cancel {
      background-color: red; 
      margin: 0 5px; 
      color: white; 
      border: none; 
      padding: 8px 15px; 
      border-radius: 5px; 
      cursor: pointer; 
      font-size: 14px; 
      transition: background-color 0.3s; 
  }
  

@media (max-width: 768px) {
  .material-react-table {
    max-width: 100%; 
  }
}
@media (max-width: 768px) {
  .container {
      padding: 10px; 
  }
}